NODE_ENV=development
HOST=0.0.0.0
PORT=3000
ALIAS=jealer

JWT_SECRET=change-me
TOKEN_EXPIRES_IN=604800

LICENSE_PREFIX=
LICENSE_SALT=
LICENSE_ENCRYPT_KEY=change-me

MYSQL_ENABLED=false
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=change-me
MYSQL_TIMEZONE=Z

REDIS_ENABLED=false
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

RATE_LIMIT_MAX=30
RATE_LIMIT_TIME_WINDOW=1minute

WEBHOOK_SECRET=
WEBHOOK_SCRIPT=/www/hook/change-me.sh

CORS_ORIGIN=*
